  <footer class="site-footer">
    <div class="tricolor-strip"></div>
    <div class="footer-inner">
      <div>
        <strong><%= t('site_name') %></strong><br>
        <%= t('footer_built_with') %><br>
        &copy; <%= new Date().getFullYear() %> <%= t('site_name') %>. <%= t('footer_rights') %>
      </div>
      <div>
        <div><%= t('phone') %>: <a href="tel:<%= CONTACT_PHONE %>"><%= CONTACT_PHONE %></a></div>
        <div><a href="/contact"><%= t('nav_contact') %></a></div>
        <div><a href="/how-to-pay"><%= t('nav_how_to_pay') %></a></div>
      </div>
    </div>
  </footer>
</body>
</html>
